body {
    background-image: url("./images/background-img1.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    background-color:#011E57;
    width: 100%;
}

.left-container {
    height: auto;

}

.right-container {
    height: auto;
    text-align: center;
} 

.form-label {
    width: 40%;
    background-color: #C3CEE4;
}

li {
    text-decoration: none;
    background-color: #C3CEE4;
}

#search-input {
    background-color: #C3CEE4;

}
#search-btn {
    background-color: #C3CEE4;
}

.weather-description {
    text-transform: capitalize;
}

.forecast-card {
    display: inline-block;
    text-align: center;
    margin-left: 7.5px;
    margin-right: 7.5px;
}