body {
    background-image: url("./images/background-img.jpg");
    background-size: cover;
    height: 800px;
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    background-color: #F28F86;
    width: 100%;
}

.left-container {
    border: 1px solid white;
    height: auto;
}

.right-container {
    border: 1px solid white;
    height: auto;
    text-align: center;
} 

li {
    text-decoration: none;
}

.weather-description {
    text-transform: capitalize;
}

.forecast-card {
    display: inline-block;
    text-align: center;
    margin-left: 7.5px;
    margin-right: 7.5px;
}